<body>
<div class="container">
  <div class="row">
    <div class="col-xs-6">

      <form name="reg" action="Cg_page1.html" onsubmit="return Validation()">
        <div class="container">
          <div class="row">
            <div class="col-xs-5">
              <div class="form-group">
                <label>Name:</label>
                <input type="text" class="form-control input-sm" id="name">
              </div>
              <div class="form-group">
                <label>Email address:</label>
                <input type="text" class="form-control input-sm" id="email">
              </div>
              <div class="form-group">
                <label>Password:</label>
                <input type="password" class="form-control input-sm" id="pwd">
              </div>
              <div class="form-group">
                <label>Age</label>
                <input type="text" class="form-control input-sm" id="age">
              </div>
              <div class="form-group">
                Gender
                <input type="radio" id="gender" > Male
                <input type="radio" id="gender" > FeMale </div>

              <div class="form-group">
                Country <select Country
                <select id="Country" style="float:right">
                  <option value="0">--select--</option>
                  <option>India</option>
                  <option>USA</option>
                  <option>China</option>
                  <option>Russia</option>
                  <option>Pakistan</option>
                  <option>UAE</option>
                  <option>Brazil</option></select>

                <div class="checkbox">
                  <label><input type="checkbox"> Remember me</label> <div>
                  <input type="submit" class="btn btn-success" value="submit"> SignUp
                </div>
                </div>


